#Node modules
node_modules/

# Hudiy Dataview React App Build Output
/hudiy_dataview/static/js/main.js

# Python cache files
__pycache__/
*.py[cod]
*$py.class
references/dis_servicelog1.txt
references/hi res ddp/ddp_protocol_hd.py
references/hi res ddp/dis_service_hd.py
